:root{
    font-family: 'Josefin Sans';
    font-size: 62.5%;
}

h1{
  font-family: "Josefin Slab";
  font-weight: 700;
  font-size: 5.6rem;
  text-align: center;
}

h2 {
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body .light{
    background-color: whitesmoke;
    color: black;
}

body .dark {
    background-color: black;
    color: whitesmoke;
}