@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700');

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root {
  font-family: 'Josefin Sans', system-ui, sans-serif;
  font-size: 62.5%;
}

h2 {
  font-family: "Josefin Slab";
  font-weight: 700;
  font-size: 5.6rem;
  text-align: center;
}

p {
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: whitesmoke;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: clamp(1.6rem, -0.5053rem + 8.4211vw, 9.6rem);
  height: 4rem;
  align-items: center;
  margin-bottom: clamp(4rem, 2.9474rem + 4.2105vw, 8rem);

  img {
    height: 2.4rem;
  }
}

#computer,
#player {
  display: flex;
  height: 50%;
  margin-block: clamp(2.4rem, 1.9789rem + 1.6842vw, 6.8rem);
}

#results {
  display: none;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: clamp(3.2rem, 2.2526rem + 3.7895vw, 6.8rem);
}

i {
  font-size: 2.4rem;
}

button {
  height: 4.8rem;
  width: 4.8rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #808080;
}

button:hover {
  background-color: #606060;
}

button:active {
  background-color: #ff9600;
}

#game {
  flex-direction: column;

}

#player {
  width: 100%;
  padding-inline: clamp(4rem, -3.3684rem + 29.4737vw, 32rem);
  justify-content: space-around;
}

#computer {
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  padding-block: 3.2rem;

  #rows {
    display: flex;
    flex-direction: row;
  }
}

#btndiv {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 4rem;
  flex-direction: row;
  justify-content: center;
  display: flex;
}

#btnReset {
  background-color: black;
  color: whitesmoke;
  width: fit-content;
}

#btnReset:hover,
#btnReset:active {
  background-color: black;
  text-decoration: underline;
}